*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-1: #FFFFFF;
    --color-2: #EBEBEB;
    --color-3: #F8F8F8;
    --color-4: #1792D2;
    --color-5: #143774;
    --color-6: #707070;
    --color-7: #717171;
}

body {
    margin: 0;
}

.simple-life {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    .main-container {
        font-family: "Ubuntu";
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.56;
        color: var(--color-6);
    }

    .header {
        background-color: var(--color-3);

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2.9375em;
            gap: 1em;

        }

        .heading,
        .sub-heading {
            margin: 0;
        }

        .heading {
            font-family: "Lora";
            font-size: 2.063rem;
            line-height: 1.273;
            letter-spacing: 0;
            color: var(--color-5);
        }

        .sub-heading {
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 1.083;
            letter-spacing: 0.2em;
            color: var(--color-4);
            text-transform: uppercase;
        }

        .navbar {
            text-align: center;
        }

        .nav-link {
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.125;
            letter-spacing: 0.2em;
            color: var(--color-7);
            text-transform: uppercase;
            padding: 1.5em 0 0.1em 0;
        }

        .active {
            border-bottom: 2px solid var(--color-6);
        }
    }

    .main {
        .container {
            padding: 4em 1em;
        }

        .main-left {

            padding-bottom: 4em;

            .date-comments {
                font-size: 0.875rem;
                line-height: 1.34;
                font-family: "Segoe UI";
                letter-spacing: 0;
                color: var(--color-6);
            }

            .title {
                font-family: "Lora";
                font-weight: normal;
                font-size: 1.5rem;
                line-height: 1.17;
                letter-spacing: 0.2;
                color: var(--color-5);
            }

            strong {
                font-weight: bold;
            }

            a {
                text-decoration: underline;
                color: var(--color-4);
            }

            .post .read-more {
                font-size: 0.875rem;
                font-weight: bold;
                line-height: 2;
                letter-spacing: 0.2em;
                color: var(--color-4);
                text-transform: uppercase;
                text-decoration: none;
                display: block;
                padding-bottom: 2em;
            }

            .post:last-child .read-more {
                padding-bottom: 0;
            }

            .featured-post {
                margin-bottom: 2em;
                border-bottom: 1px solid var(--color-6);
            }

            .image {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .featured-post .image,
            .about-me .image {
                height: 308px;
            }

            .about-me .image {
                margin-bottom: 1.5em;
            }

            .regular-post .image {
                height: 242px;
            }

            .about-me-link {
                font-family: "Lora";
                font-size: 1.313rem;
                font-weight: normal;
                line-height: 1.33;
                color: var(--color-4);
                text-decoration: none;
            }
        }

        .main-right {

            .about-me,
            .recent-posts {
                border: 20px solid var(--color-2);
                padding: 1.5em;
            }

            .heading {
                font-size: 1.125rem;
                font-weight: bold;
                line-height: 1.33;
                letter-spacing: 0.2em;
                color: var(--color-5);
                text-transform: uppercase;
            }

            .intro {
                font-size: 0.875rem;
                line-height: 1.71;
                color: var(--color-5);
            }

            .aside-post {
                padding: 1.5em 0;
                border-bottom: 1px solid var(--color-2);
            }

            .aside-post:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }

            .title {
                font-family: "Lora";
                font-weight: normal;
                font-size: 1.125rem;
                line-height: 1.56;
                color: var(--color-5);
                margin: 0;
            }

            .image {
                width: 100%;
                height: 87px;
                object-fit: cover;
            }

            .about-me-image {
                height: 133px;
            }

        }
    }

    .footer {
        background-color: var(--color-5);
        padding: 3em;

        .footer-heading,
        .copyright {
            text-align: center;
            color: var(--color-1);
            opacity: 0.5;
            margin: 0;
        }

        .footer-heading {
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.56;
        }
    }

    @media screen and (min-width: 990px) {

        .container {
            max-width: 990px;
            margin: 0 auto;
        }

        .header {
            .container {
                flex-direction: row;
                justify-content: space-between;
                padding: 5.85em 0;
            }

            .logo {
                flex: 1 1 50%;
            }

            .navbar {
                flex: 1 1 50%;
            }

            ul {
                display: flex;
                justify-content: flex-end;
                gap: 2em;
            }
        }

        .main {
            .container {
                padding: 4em 0;
                display: flex;
                gap: 5%;
            }

            .main-left {
                flex: 1 1 70%;
                padding-bottom: 0;

                .regular-post .post {
                    display: flex;
                    justify-content: center;
                    gap: 5%;
                    margin-bottom: 3em;
                }

                .left {
                    flex: 1 1 30%;
                }

                .right {
                    flex: 1 1 65%;
                }

                .title {
                    margin-top: 0;
                }

                .post:last-child .image {
                    object-position: top left;
                }
            }

            .main-right {
                flex: 1 1 25%;

                .heading {
                    margin-top: 0;
                }

                .about-me {
                    margin-bottom: 3em;
                }
            }
        }
    }


}