body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #282828;
}

/*
Challenge:
1. Get this layout looking like the 
   screenshots on the slide.
*/  

ul{
    list-style-type: none;
    margin: 0;
    padding: 25px;
    background-color: #282828;
    display: flex;
    gap: 10px;
}

li{
    color: whitesmoke;
    cursor: pointer;
}

.logo{
    font-size: 18px;
    font-weight: 700;
}

.icon{
    width: 25px;
}

.align-right{
    margin-left: auto;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item{
    position: relative;
}

.item-img{
    width: 100%;
    display: block;
}

.caption{
    margin: 0 25px;
    display: flex;
    gap: 20px;
}

.img-banner{
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

button{
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    margin: auto 0 auto auto;
}

.chatbox-bg{
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #999;
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.chatbox-img{
    width: 50%;
    margin: auto;
}


