*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-1: #FFFFFF;
    --color-2: #FF713B;
    --color-3: #FFA51D;
    --color-4: #000000;
    --color-5: #F18119;
    --color-6: #5A5A5A;
    --color-7: #404040;
    --color-8: #989898;
    --color-9: #FF895D;
    --color-10: #DF4E13;
    --color-11: #818181;
    --background-color: rgb(255, 165, 29);
    --background-image: linear-gradient(90deg, rgba(255, 165, 29, 1) 0%, rgba(255, 113, 59, 1) 100%);
}

body {
    margin: 0;
}

.bbq-splash-page {

    .container {
        font-family: 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;

    }


    h1 {
        font-size: 2.25rem;
        margin: 0;
    }

    h2 {
        font-size: 1.3125rem;
    }

    .header {
        flex: 1 1 358px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-4);
        background-image: url("./assets/dark-ribs.jpg");
        background-position: 0% 0%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .top {
        flex: 1 1 33.33%;
        font-size: 0.625rem;
        line-height: 1.3;
        font-weight: bold;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: var(--color-5);
        border-top: 7px solid transparent;
        border-image: var(--background-image) 1;
        padding-top: 0.5em;
    }

    .bottom {
        flex: 1 1 66.66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-heading {
        line-height: 1;
        font-weight: normal;
        color: var(--color-1);

        strong {
            font-weight: bold;
            display: block;
        }
    }

    .header-text {
        font-size: 1.3125rem;
        line-height: 1.3;
        font-weight: bold;
        color: var(--color-5);
        text-transform: uppercase;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        text-align: center;
    }

    .main-heading {
        font-weight: bold;
        line-height: 1.3;
        color: var(--color-7);
        margin-bottom: 0;
    }

    .main-text {
        margin-top: 0;
        font-weight: bold;
        line-height: 1.25;
        color: var(--color-5);
        text-transform: uppercase;
    }

    .body-text {
        font-weight: normal;
        line-height: 1.25;
        color: var(--color-6);
    }

    form {
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    input,
    .btn {
        font: inherit;
        text-align: center;
        border: 1px solid var(--color-11);
        border-radius: 7px;
        padding: 0.5em 1em;
    }

    .btn-submit {
        background-color: var(--background-color);
        background-image: var(--background-image);
        border: none;
        font-family: "Segoe UI";
        text-transform: uppercase;
        color: var(--color-1);
        font-size: 0.625rem;
        font-weight: bold;
        line-height: 1.4;
        letter-spacing: 1.5px;
        padding: 1.25em 2.5em;
    }

    .small-text {
        font-size: 0.625rem;
        font-weight: normal;
        line-height: 1.3;
        color: var(--color-8);
        width: 50%;
    }

    @media only screen and (min-width: 780px) {

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        .container {
            flex-direction: row;
            align-items: center;
        }

        .header {
            flex: 1 1 50%;
            min-height: 100vh;
        }

        .header-text {
            font-size: 1.75rem;
        }

        .main {
            flex: 1 1 50%;
            min-height: 100vh;
        }

        .main-text {
            font-size: 1.125rem;
        }

        .body-text {
            font-size: 1.125rem;
        }

        .top {
            flex: 1 1 50%;
        }

        .bottom {
            justify-content: flex-start;
        }

        .main-content {
            justify-content: center;
            flex-basis: 80%;
        }
    }
}