@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Jockey+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.project-2025009 .header,
.project-2025009 .try-out-today,
.project-2025009 .choose-enjoy,
.project-2025009 .upcoming-events,
.project-2025009 .reservation,
.project-2025009 .footer {
  font-size: 12px;
}
.project-2025009 img {
  max-width: 100%;
}
.project-2025009 .header {
  min-height: 100vh;
  background-image: url("./assets/header/header-bg.png");
}
.project-2025009 .header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.75em;
  gap: 6em;
}
.project-2025009 .header .menu-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-2025009 .header .header-logo {
  flex-basis: 50%;
}
.project-2025009 .header .open-menu {
  font-size: 2em;
  line-height: 3.625rem;
}
.project-2025009 .header .open-menu:hover {
  cursor: pointer;
}
.project-2025009 .header .menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transform: translateX(100%);
  transition: all 1s ease;
  padding: 1.75em;
}
.project-2025009 .header .close-menu {
  font-size: 2em;
  line-height: 3.625rem;
}
.project-2025009 .header .close-menu:hover {
  cursor: pointer;
}
.project-2025009 .header .nav {
  width: 100%;
}
.project-2025009 .header .navlink {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.project-2025009 .header .link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  color: #000000;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1.2em;
  text-decoration: none;
}
.project-2025009 .header .hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6em;
}
.project-2025009 .header .hero-text {
  text-align: center;
}
.project-2025009 .header .text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
}
.project-2025009 .header .heading {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 8em;
  margin: 0;
}
.project-2025009 .header .hero-img {
  text-align: center;
}
.project-2025009 .try-out-today .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.75em;
  gap: 1.75em;
}
.project-2025009 .try-out-today .left-side {
  width: 100%;
}
.project-2025009 .try-out-today .right-side {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  max-width: 100%;
}
.project-2025009 .try-out-today img {
  width: 100%;
}
.project-2025009 .try-out-today .most-popular-burger {
  position: relative;
}
.project-2025009 .try-out-today .most-popular-burger .text {
  position: absolute;
  top: 10%;
  left: 5%;
}
.project-2025009 .try-out-today .most-fun-more-taste,
.project-2025009 .try-out-today .fresh-chili {
  position: relative;
}
.project-2025009 .try-out-today .most-fun-more-taste .text,
.project-2025009 .try-out-today .fresh-chili .text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 40%;
}
.project-2025009 .try-out-today .heading {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}
.project-2025009 .try-out-today .para {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.project-2025009 .choose-enjoy .container {
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}
.project-2025009 .choose-enjoy .slogan {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  background-color: #FFC74D;
  color: #000000;
  padding: 1.0625em 1.75em;
  margin: 0;
}
.project-2025009 .choose-enjoy .heading {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 8em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.project-2025009 .choose-enjoy .para {
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 1em;
}
.project-2025009 .choose-enjoy .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}
.project-2025009 .choose-enjoy .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.75em;
  box-shadow: 0.25em 0.5em 2em 0 rgba(0, 0, 0, 0.18);
  border-radius: 1.25em;
  margin-top: 5em;
}
.project-2025009 .choose-enjoy .card .name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 0;
}
.project-2025009 .choose-enjoy .card .btn {
  color: #ffffff;
  background-color: #D00000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em 2em;
  border: none;
  margin-bottom: 1.75em;
}
.project-2025009 .choose-enjoy img {
  transform: translateY(-15%);
}
.project-2025009 .upcoming-events .container {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  padding: 1.75em;
}
.project-2025009 .upcoming-events .heading {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 4em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.project-2025009 .upcoming-events .first-word {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.5em;
  text-transform: capitalize;
  display: block;
}
.project-2025009 .upcoming-events .para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}
.project-2025009 .reservation {
  padding: 1.75em;
  background-image: url("./assets/reservation/bg-1.png"), url("./assets/reservation/bg-2.png");
  background-position: 0% 0%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
}
.project-2025009 .reservation .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}
.project-2025009 .reservation .heading {
  font-family: "Jockey One", sans-serif;
  font-size: 8em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.project-2025009 .reservation .first-word {
  font-family: "Inter", sans-serif;
  font-size: 0.25em;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.project-2025009 .reservation .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}
.project-2025009 .reservation .form .item {
  width: 100%;
  padding: 0.79em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #000000;
}
.project-2025009 .reservation .form .item::-webkit-input-placeholder {
  color: #000000;
}

.project-2025009 .reservation .form .item:-moz-placeholder {
  color: #000000;
}

.project-2025009 .reservation .form .item::-moz-placeholder {
  color: #000000;
}

.project-2025009 .reservation .form .item:-ms-input-placeholder {
  color: #000000;
}

.project-2025009 .reservation .form .btn {
  background-color: #D00000;
  color: #ffffff;
  border: none;
}
.project-2025009 .footer {
  padding: 1.75em;
  background-image: url("./assets/footer/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.project-2025009 .footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}
.project-2025009 .footer .footer-logo {
  flex-basis: 50%;
}
.project-2025009 .footer .para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}
.project-2025009 .footer .footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
  text-align: center;
}
.project-2025009 .footer .contact {
  width: 100%;
}
.project-2025009 .footer .social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}
.project-2025009 .footer i {
  color: #ffffff;
  font-size: 1.25em;
}/*# sourceMappingURL=index.css.map */