*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    vertical-align: baseline;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

input {
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

input[type="submit"] {
    color: white;
    background-color: dodgerblue;
    border: none;
}