*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.container-1 {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    background-color: #F2F2F2;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px 20px;
}

.item-1 {
    margin: 10px 0px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font: inherit;

    &::placeholder {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }
}

textarea {
    height: 200px;
}

#submit {
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: #04AA6D;

    &:hover {
        background-color: #059862;
    }
}