


.main{
    margin-top: 100px;
}

.logo{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn{
    margin-left: 30px;
    background-color: #dfe1e5;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}